@media screen and (max-width: 500px) {
    #horario{
        font-size: 0.45em;
        font-weight: bold;
    }

    nav, footer a {
        font-size: 0.7em;
    }

    .navbar-brand img {
        width: 50px;
    }

    .d-flex button {
        font-size: 0.8em;
        margin-left: 5px;
    }

    #carousel {
        margin: 0px!important;
        width: 100%!important;
    }

    #entrenador{
        width: 60%;
        font-size: 0.7em;
        font-weight: bold;
        margin: 0 auto;
    }

    #entrenador h4, #formulario h6 {
        font-size: 1.2em;
        font-weight: bold;
    }

    #entrenador img {
        width: 60%;
    }

    #entrenador .btn {
        font-size: 0.8em;
        font-weight: bold;
    }

    #contacto, #formulario {
        font-size: 0.7em;
        font-weight: bold;
        margin-top: 15px;
    }

    legend {
        font-size: 1.3em;
        font-weight: bold;
    }

    #contacto form fieldset, #formulario form fieldset{
        width: 80%;
    }

    #contacto button, #formulario button {
        font-size: 0.9em;
        font-weight: bold;
    }

    #contacto #email, #formulario #email, #contacto #comment {
        font-size: 1em;
    }

    fieldset select option{
        font-size: 0.7em;
    }
}

main {
    margin-top: 100px;
}

.form-check {
    margin-right: 20px;
}

/*Fieldset alta*/
fieldset {
    border: 3px solid black;
    background-color: lightgray;
}

/*Fieldset contacto*/
fieldset {
    border: 2px solid black;
    background-color: rgb(194, 227, 238);
    width: 35%;
    padding: 20px;
    margin: 0 auto;
}

input {
    color: black;
    border: 2px solid black;
}

input:hover {
    border: 2px solid red;
}

table {
    text-align: center;
}

div>img {
    margin: 5px auto;
    width: 95%;
}

#carousel {
    width: 70%;
    margin: 0 auto;
}

#formulario {
    width: 90%;
    margin: 0 auto;
}

#horario,
#entrenador,
#contacto,
#formulario {
    height: 0px;
    overflow: hidden;
}

#horario:target,
#entrenador:target,
#contacto:target,
#formulario:target {
    overflow: visible;
}

footer {
    width: 100%;
    height: 35px;
    margin: 0 auto!important;
    font-size: 1.1em;
}

footer a {
    color: lightgray;
    text-decoration: none;
}

footer a:hover{
    color: black;
}