@media screen and (max-width: 500px) {
    nav{
        font-size: 0.9em;
    }

    footer {
        height: 120px!important;
    }

    footer a {
        font-size: 0.7em;
        font-weight: bold;
    }

    .navbar-brand img {
        width: 60px;
    }

    .d-flex button {
        font-size: 0.8em;
        margin-left: 5px;
        font-weight: bold;
        position: relative;
        left: 215px;
        bottom: 10px;
    }

    #carousel {
        margin: 0px!important;
        width: 100%!important;
    }

    #horario{
        font-size: 0.57em;
        font-weight: bold;
    }

    #entrenador{
        width: 60%;
        font-size: 0.7em;
        font-weight: bold;
        margin: 0 auto;
    }

    #entrenador img {
        width: 60%;
    }

    #entrenador h4, #formulario h6 {
        font-size: 1.2em;
        font-weight: bold;
    }

    #entrenador .btn {
        font-size: 0.8em;
        font-weight: bold;
    }

    #contacto, #formulario {
        font-size: 0.7em;
        font-weight: bold;
        margin-top: 15px;
    }

    legend {
        font-size: 1.3em;
        font-weight: bold;
    }

    #contacto form fieldset, #formulario form fieldset{
        width: 80%;
    }

    #contacto button, #formulario button {
        font-size: 0.9em;
        font-weight: bold;
    }

    #contacto #email, #formulario #email, #contacto #comment {
        font-size: 1em;
    }

    fieldset select option{
        font-size: 0.7em;
    }
}

fieldset {
    width: 35%;
}

input:hover {
    border: 2px solid black!important;
}

div>img {
    width: 90%;
    margin: 5px auto;
}

#carousel {
    width: 60%;
}

#entrenador {
    width: 85%;
}

#formulario {
    width: 90%;
}

#horario,
#entrenador,
#contacto,
#formulario {
    height: 0px;
    overflow: hidden;
}

#horario:target,
#entrenador:target,
#contacto:target,
#formulario:target {
    height: 100%!important;
    overflow: visible!important;
}

footer {
    width: 86%;
}

footer a:hover{
    color: black;
}