@media screen {}

        .form-check {
            margin-right: 20px;
        }

        /*Fieldset alta*/
        fieldset {
            border: 3px solid black;
            background-color: lightgray;
        }

        /*Fieldset conacto*/
        fieldset {
            border: 2px solid black;
            background-color: rgb(194, 227, 238);
            width: 50%;
            padding: 20px;
            margin: 0 auto;
        }

        input {
            width: 15%;
            color: lightgray;
            border: 2px solid black;
        }

        input:hover {
            border: 2px solid red;
        }

        table {
            text-align: center;
        }

        nav {
            position: fixed;
            z-index: 1;
        }

        div>img {
            margin: 5px auto;
        }

        #carousel {
            width: 70%;
            margin: 0 auto;
        }

        #formulario {
            width: 60%;
            margin: 0 auto;
        }

        #horario,
        #entrenador,
        #contacto,
        #formulario {
            height: 0px;
            visibility: hidden;
        }

        #horario:target,
        #entrenador:target,
        #contacto:target,
        #formulario:target {
            visibility: visible;
        }