@media screen {

}

main {
    margin-top: 100px;
}

.form-check {
    margin-right: 20px;
}

/*Fieldset alta*/
fieldset {
    border: 3px solid black;
    background-color: lightgray;
}

/*Fieldset contacto*/
fieldset {
    border: 2px solid black;
    background-color: rgb(194, 227, 238);
    width: 35%;
    padding: 20px;
    margin: 0 auto;
}

input {
    color: black;
    border: 2px solid black;
}

input:hover {
    border: 2px solid red;
}

table {
    text-align: center;
}

div>img {
    margin: 5px auto;
}

#carousel {
    width: 70%;
    margin: 0 auto;
}

#formulario {
    width: 90%;
    margin: 0 auto;
}

#horario,
#entrenador,
#contacto,
#formulario {
    height: 0px;
    overflow: hidden;
}

#horario:target,
#entrenador:target,
#contacto:target,
#formulario:target {
    overflow: visible;
}

footer {
    background-color: rgb(197, 195, 195);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    font-weight: 600;
}

footer a {
    color: black;
    text-decoration: none;
}